<h3><%= @app.name %></h4>
<h4><%= @app.url %></h4>
<h3>Events</h3>
<ul>
  <li>Traffic: <%= @visits.count %></li>
  <li>Bounces: <%= @bounces.count %></li>
  <li>Links Clicked: <%= @link_clicks.count %></li>
</ul>

<%= link_to "Edit", edit_registered_application_path(@app) %>
<br>
<%= link_to "Delete", @app, method: :delete, data: {confirm: 'Are you sure you want to delete this connection?'} %>
